<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <update id="update">
        update orders
        <set>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="cancelReason != null and cancelReason != ''">
                cancel_reason = #{cancelReason},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="getByUserIdAndStatus" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by order_time desc
    </select>
    <select id="conditionSearch" resultType="com.sky.vo.OrderVO">
        select *
        from orders
        <where>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
            <if test="number != null and number != ''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by order_time desc

    </select>
</mapper>
